@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap");
body {
  appearance: none;
  border: 0;
  outline: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Ubuntu, Arial, sans-serif;
  color: #C07166;
}
body > *:not(hero) {
  padding: 1rem 5rem;
}

p {
  max-width: 40ch;
  color: #646464;
}

a {
  color: #C07166;
  text-decoration: underline dotted;
}
a.cta-pr {
  border: 1px solid white;
  background: white;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
}
a.cta-pr-gh {
  border: 1px dashed white;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
nav > hr {
  flex: 1;
  border: 0;
  border-top: 1px solid;
  color: #E5E5E5;
}
nav > div {
  display: flex;
  gap: 10px;
}
nav > div > a {
  color: white;
  text-decoration: none;
}

hero {
  display: flex;
  flex-direction: column;
  background: radial-gradient(69.22% 218.77% at 11.52% 25.9%, #C07166 0%, #C07166 23.97%, #D59087 100%);
  padding: 10px;
}
hero > content {
  display: flex;
}
hero > content > left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin-right: 50px;
  padding: 75px;
}
hero > content > right {
  flex: 3;
}
hero > content > right > img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 660px) {
  hero > content {
    flex-direction: column-reverse;
  }
}

section {
  display: flex;
}
section img {
  max-width: 100%;
  height: auto;
}
section#aturan {
  justify-content: space-around;
}
section#aturan > left {
  width: 40%;
}
section#kegiatan {
  justify-content: space-around;
}
section#kegiatan > right {
  width: 40%;
}
section#ctajoin {
  justify-content: space-between;
  align-items: center;
  background: #C07166;
  color: white;
}
section#ctajoin > .cta {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border-bottom: 3px solid gray;
}
section#ctajoin > .cta:hover {
  text-decoration: none;
  border-bottom: 1px solid gray;
}
@media (max-width: 660px) {
  section {
    flex-direction: column;
  }
}

grid {
  display: grid;
}
grid[size="2"] {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
grid[size="3"] {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
grid[size="4"] {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
grid[size="5"] {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
grid[size="6"] {
  grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
}
grid[size="7"] {
  grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
}
grid[size="8"] {
  grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
}
grid[size="9"] {
  grid-template-columns: repeat(auto-fill, minmax(900px, 1fr));
}
grid[size="10"] {
  grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
}

img#logo {
  width: 10rem;
}

flex {
  display: flex;
}
flex.column {
  flex-direction: column;
}
flex.row {
  flex-direction: row;
}
flex.gap {
  gap: 10px;
}

.white {
  color: white;
}

.hidden {
  display: none;
}