body {
  appearance: none;
  border: 0;
  outline: 0;
  margin: 0;
  font-family: Ubuntu, Arial, sans-serif;
  color: black;
}
body > *:not(nav) {
  padding: 1rem 3rem;
}

p {
  max-width: 40ch;
}

a {
  color: black;
  text-decoration: underline dotted;
}
a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav > div > a {
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
}
nav > div > a.cta {
  padding: 10px 20px;
  border-radius: 5px;
  background: black;
  color: white;
}

hero {
  display: flex;
}
hero > left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  margin-right: 50px;
}
hero > right {
  flex: 3;
}
hero > right > img {
  max-width: 100%;
  height: auto;
}

section img {
  max-width: 100%;
  height: auto;
}
section#aturan {
  display: flex;
  justify-content: space-around;
}
section#aturan > left {
  width: 40%;
}
section#kegiatan {
  display: flex;
  justify-content: space-around;
}
section#kegiatan > right {
  width: 40%;
}
section#ctajoin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
}
section#ctajoin > .cta {
  background: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border-bottom: 3px solid gray;
}
section#ctajoin > .cta:hover {
  text-decoration: none;
  border-bottom: 1px solid gray;
}

img#logo {
  width: 48px;
  height: 48px;
  filter: drop-shadow(0 1px 0 black);
}